---
title: Common Core Basics
subject: Social Studies

layout: page
---

<ul class="collection with-header">
  {% for page in site.social_studies %}
  {% for source in page.source %}
  {% if source.title == "Common Core Basics" %}
  {% if source.subchapter == 0 %}
  <li class="collection-header flow-text truncate">{{ "Chapter&ensp;" | append: source.chapter | append: "&#58;&emsp;" | append: page.title }}</li>
  {% else %}
  <a class="collection-item avatar" href="{{ page.url }}">
    <i class="material-icons circle teal">exit_to_app</i>
    <b class="title">{{ "Chapter&ensp;" | append: source.chapter }}{{ "&#46;" | append: source.subchapter }}{{ "&#58;&emsp;" | append: page.title }}</b>
    <p align="justify">{{ page.description }}</p>
  </a>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>