---
title: Welcome to Jason's Classroom
breadcrumb: Welcome
icon: copyright

slides:
  - title: Jason's Classroom
    description: A place to study for your High School Equivalency Diploma
    image_path: /denver.jpg
  - title: Khan Academy
    description: "&#42; Coach Code: jason.kilpatrick@ccd.edu"
    website: https://www.khanacademy.org
    image_path: /KhanAcademy.jpg
  - title: Ed Ready
    description: "&#42; Key: TABE1-Kilpatrick"
    website: https://abetlc.edready.org
    image_path: /EdReady.jpg
  - title: Learning Library
    website: http://www.learningexpresslibrary3.com
    description: "&#42; Must Register a Library Card"
    image_path: /LearningExpress.jpg

layout: default
---
<header class="slider fullscreen">
  <ul class="slides">
    {% for slide in page.slides %}
    <li>
      <img src="{{ "/assets/img" | append: slide.image_path | prepend: site.baseurl }}" alt="{{ page.title }}">
      <div class="linear-gradient"></div>
      <div class="caption right-align">
        <h1><b>{{ slide.title }}</b></h1>
        <p class="flow-text">
          {% if slide.description != null and slide.website != null %}
          <a class="thin" href="{{ slide.website }}" target="_blank">{{ slide.website }}</a><br />
          <span class="light grey-text text-lighten-2">{{ slide.description }}</span>
          {% elsif slide.description != null %}
          <span class="light grey-text text-lighten-2">{{ slide.description }}</span>
        </p>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</header>