{% for resource in page.source %}

{% capture lessons %}

{% for collection in site.collections %}
{% for doc in collection.docs %}
{% for source in doc.source %}
{% if source.title == resource.title and source.subject == resource.subject %}


{% if source.toc_type == "Chapter" %}
<li class="{% if page.url contains doc.url %}active{% endif %}">
  <a class="collapsible-header waves-effect waves-dark{% if page.url contains doc.url %} active{% endif %}">
    <i class="material-icons">chevron_right</i>
    {{ source.toc_type | append: '&ensp;' | append: source.toc_number }}
  </a>
  {% endif %}
  {% if source.toc_type == "Lesson" %}
  <div class="collapsible-body">
    <ul>
      <li class="{% if page.url contains doc.url %}active{% endif %}">
        <a href="{{ doc.url }}">{{ source.toc_type | append: '&ensp;' | append: source.toc_number }}</a>
      </li>
    </ul>
  </div>
  {% endif %}
</li>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}

{% endcapture %}
<!-- END chapters -->
{% endfor %}