<header class="parallax-container valign-wrapper">
  <div class="container">
    <blockquote class="center">
      <h5 class="grey-text text-lighten-3 light" align="justify">Lorem ipsum dolor sit amet, ad est erant impedit adolescens, eam ne dicta soleat adversarium. Ut dico eripuit usu. Eros putent regione ex usu, agam volutpat mnesarchum cu qui, cu..</h5>
      <em class="light right">-- Some Author</em>
    </blockquote>
  </div>
  <div class="parallax">
    <img alt="" src="{{ site.image_path }}">
  </div>
</header>

<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
