<header class="parallax-container valign-wrapper">
  <div class="container">
    <blockquote class="center">
      <h5 class="grey-text text-lighten-3 light" align="justify">Lorem ipsum dolor sit amet, ad est erant impedit adolescens, eam ne dicta soleat adversarium. Ut dico eripuit usu. Eros putent regione ex usu, agam volutpat mnesarchum cu qui, cu..</h5>
      <em class="light right">-- Some Author</em>
    </blockquote>
  </div>
  <div class="parallax">
    <img alt="" src="https://unsplash.it/1024/758/?blur">
  </div>
</header>