<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="row grey darken-4">
        <!--<a href="{{ site.url | append: site.baseurl }}" class="brand-logo">Logo</a>-->
        <a href="#" data-activates="navigation" class="button-collapse"><i class="material-icons right">menu</i></a>
        <div class="col s12">
          {% if page.url == '/' %}
          <a class="breadcrumb">{{ "Welcome to Jason's Classroom!" | upcase }}</a>
          {% else %}
          <a class="breadcrumb" href="{{ site.baseurl | append: '/' }}">{{ "Welcome" | upcase }}</a>
          {% endif %}

          {% assign crumbs = page.url | split: '/' %}
          {% for crumb in crumbs offset: 1 %}
          {% if forloop.last %}
          <a class="breadcrumb">{{ page.title | upcase }}</a>
          
          {% else %}
          <a class="breadcrumb" href="{{ site.baseurl | append: '/' }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-', ' ' | replace: '_', ' ' | upcase }}</a>

          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="side-nav fixed" id="navigation">
        <ul class="collapsible" data-collapsible="accordion">
          {% include navigation-1.html context="/" %}
        </ul>
      </div>
    </div>
  </nav>
</div>