<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="row grey darken-4">
        <!--<a href="{{ site.url | append: site.baseurl }}" class="brand-logo">Logo</a>-->
        <a href="#" data-activates="navigation" class="button-collapse"><i class="material-icons right">menu</i></a>
        <div class="col s12">

  {% for crumb in breadcrumbs %}
    <a class="breadcrumbs" href="{{ crumb.url | prepend:site.baseurl }}">{{ crumb.title }}</a>
    {% unless forloop.last == true %}
      >
    {% endunless %}
  {% endfor %}
        </div>
      </div>
      <div class="side-nav fixed" id="navigation">
        <ul class="collapsible" data-collapsible="accordion">
          {% include navigation-1.html context="/" %}
        </ul>
      </div>
    </div>
  </nav>
</div>