<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s1 no-padding">
        <!--<a href="{{ site.url | append: site.baseurl }}" class="brand-logo">Logo</a>-->
        <a href="#" data-activates="navigation" class="btn button-collapse"><i class="material-icons">menu</i></a>
        </div>
        <div class="col s11 truncate">
          {% if page.url == '/' %}
          <a class="breadcrumb">{{ page.title | upcase }}</a>
          {% endif %}

          {% assign crumbs = page.url | split: '/' %}
          {% for crumb in crumbs %}
          {% if forloop.first == true %}
          <a class="breadcrumb" href="{{ site.baseurl | append: '/' }}">{{ "Home" | upcase }}</a>
          
          {% elsif forloop.last == true %}
          <a class="breadcrumb">{{ page.title | upcase }}</a>
          
          {% else %}
          <a class="breadcrumb" href="{{ site.baseurl }}{% assign crumb_limit = forloop.index %}{% for crumb in crumbs | limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-', ' ' | replace: '_', ' ' | upcase }}</a>

          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="side-nav fixed" id="navigation">
        <ul class="collapsible" data-collapsible="accordion">
          {% include navigation-1.html context="/" %}
        </ul>
      </div>
    </div>
  </nav>
</div>