---
title: Mathematics
breadcrumb: Mathematics
icon: widgets

menu: "TRUE"
layout: page
---
[Math.Minutes-Complete](../mathematics/docs/Math.Minutes-Complete)
<br />
[2016-Mathematics-(GP)](../mathematics/docs/2016-Mathematics-(GP))
<br />
<hr />
how to search three directories deep?<br />
{% capture page_url_without_index_html %}{{ page.url }}{% endcapture %}
1 - {{ page_url_without_index_html }}<br />
{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
2 - {{ splitted_url_parts }}<br />
{% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
3 - {{ forLoopMaxInt }}<br />
<hr />
{% for i in (1..forLoopMaxInt) %}
For loop<br />
4 - {{ i }}<br />
5 - {{ page_url_without_index_html }}<br />
6 - {{ splitted_url_parts }}<br />
7 - {{ forLoopMaxInt }}<br />

{% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
8 - {{ current_breadcrumb_url }}<br />
{% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
9 - {{ current_breadcrumb_md_url }}<br />
{% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
10 - {{ next_prepender }}<br/ >

{% for breadcrumb_page in site.pages %}
11- {{ breadcrumb_page }}<br />
{% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
12 - {{ breadcrumb_page_page_url_without_index_html }}<br />
{% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
13 - <a class="" href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{ breadcrumb_page.breadcrumb }}</a>
{% endif %}
{% endfor %}
{% endfor %}
<hr />
<hr />