---
title: Mathematics
breadcrumb: Mathematics
icon: widgets

menu: "TRUE"
layout: page
---
[Math.Minutes-Complete](../mathematics/docs/Math.Minutes-Complete)
<br />
[2016-Mathematics-(GP)](../mathematics/docs/2016-Mathematics-(GP))
<br />
<hr />
{% assign crumbs = page.url | split: '/' %}
{% capture crumbs_index_free %}{{ crumbs | remove: "/index.html" }}{% endcapture %}
{% for crumb in crumbs_index_free %}

{% capture length %}{{ forloop.length }}{% endcapture %}
{{ length }}

{% if forloop.first == true %}
<div class="yellow">
{{ site.baseurl }}<br />
{{ "Home" | upcase }}
</div>
<br />
<div class="green">
{{ page.title | upcase }}
</div>
<br />

{% else %}
<div class="blue">
{{ site.baseurl }}
{% assign crumb_limit = forloop.index %}
{% for crumb in crumbs | limit: crumb_limit %}
{{ crumb | append: '/' }}
{% endfor %}"<br />
{{ crumb | replace:'-', ' ' | replace: '_', ' ' | upcase }}
</div>
<br />

{% endif %}
{% endfor %}