---
title: Mathematics
breadcrumb: Mathematics
icon: widgets

menu: "TRUE"
layout: page
---
[Math.Minutes-Complete](../mathematics/docs/Math.Minutes-Complete)
<br />
[2016-Mathematics-(GP)](../mathematics/docs/2016-Mathematics-(GP))
<br />
<hr />
{% assign crumbs = page.url | split: '/' %}
{% for crumb in crumbs %}
{% capture length %}{{ forloop.length }}{% endcapture %}
{{ length }}
{% if forloop.last == true %}
<a class="1">{{ page.title | upcase }}</a>

{% else %}
<a class="2" href="{{ site.baseurl }}{% assign crumb_limit = forloop.index %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-', ' ' | replace: '_', ' ' | upcase }}</a>

{% endif %}
{% endfor %}