---
layout: page
---
<div class="row">
  {% for resource in page.resources %}
  <article class="col s10 m6 offset-s1 center-align">
    <div class="card medium hoverable waves-effect waves-dark">
      <a class="modal-trigger" href="{{ resource.title | prepend: '#' | remove: ' ' | downcase }}">
        
        {% if resource.image_path != null %}
        <div class="card-image valign-wrapper blue" style="max-height:75%">
          <div class="card-linear-gradient"></div>
          <img src="/assets/img/book_covers/{{ resource.image_path }}" alt="{{ resource.title }}" />
          <i class="small material-icons white-text tooltipped" data-position="left" data-tooltip="View Chapters" style="position:absolute; top:0; right:0;">launch</i>
          <span class="card-title truncate">{{ resource.title }}</span>
        </div>

        {% else %}
        <div class="card-image valign-wrapper blue" style="height:66%">
          <i class="small material-icons white-text tooltipped" data-position="left" data-tooltip="View Chapters" style="position:absolute; top:0; right:0">launch</i>
          <i class="container large material-icons grey-text text-lighten-2">{{ resource.icon }}</i>
          <span class="card-title truncate">{{ resource.title }}</span>
        </div>

        {% endif %}
        <div class="card-content grey-text text-darken-4">
          <p class="light" align="justify">{{ resource.description  | truncate: 100, '...'}}</p>
        </div>
      </a>
    </div>
  </article>
  {% endfor %}
</div>

<!-- Modal Structure -->
{% for resource in page.resources %}
<div id="{{ resource.title | remove: ' ' | downcase }}" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>{{ resource.title }}</h4>
    <ul class="collection with-header">
      <!-- page.data -->
      {% if page.data_path != null %}
      {% for data in site.data.[page.data_path] %}
      {% if data.book == resource.title %}
      <a class="collection-item avatar" href="{{ data.title | replace: ' ','_' | downcase | prepend: "/common_core/" }}">
        <i class="material-icons circle teal">picture_as_pdf</i>
        <span class="title">{{ data.title }}</span>
        <p>{{ data.description }}</p>
      </a>
      {% endif %}
      {% endfor %}
      
      <!-- collections --> 
      {% else %}
      {% for collection in site.collections %}
      {% for doc in collection.docs %}
      {% for source in doc.source %}
      {% if source.title == resource.title %}
      {% if source.subchapter == 0 %}
      <li class="collection-header flow-text truncate">{{ "Chapter&ensp;" | append: source.chapter | append: "&#58;&emsp;" | append: doc.title }}</li>
      {% else %}
      <a class="collection-item avatar" href="{{ doc.url }}">
        <i class="material-icons circle teal">exit_to_app</i>
        <b class="title">{{ "Chapter&ensp;" | append: source.chapter }}{{ "&#46;" | append: source.subchapter }}{{ "&#58;&emsp;" | append: doc.title }}</b>
        <p align="justify">{{ doc.description }}</p>
      </a>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% endfor %}
      {% endfor %}
      {% endif %}
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>
{% endfor %}