---
title: Skill Review

layout: default
---
<article class="section container">
  <header>
    <h2>{{ page.title }}</h2>
    <p class="flow-text grey-text">{{ page.subtitle }}</p>

  </header>

  {% for question in page.questions %}
  <div class="card">
    <form action="#" onsubmit="displayCustomHTMLToast()">
      <div class="card-content flow-text">
        <span class="card-title">{{ question.number }}&#46;&ensp;{{ question.text }}</span>
        {% for choice in question.choice %}{% for answer in question.answer %}
        <p>
          {% if choice.option == answer.option %}
          <input name="_{{ question.number }}" value="correct" type="radio" id="{{ question.number }}{{ choice.option }}" />
          <label for="{{ question.number }}{{ choice.option }}"><b>{{ choice.option }}</b>&ensp;{{ choice.text }}</label>

          {% else %}

          <input name="_{{ question.number }}" value="incorrect" type="radio" id="{{ question.number }}{{ choice.option }}" />
          <label for="{{ question.number }}{{ choice.option }}"><b>{{ choice.option }}</b>&ensp;{{ choice.text }}</label>

          {% endif %}
        </p>

        {% endfor %}{% endfor %}
      </div>
      <div class="card-action">        
        <a onclick="submitAnswer_{{ question.number }}()">Check Answer</a>
        
        {% for answer in question.answer %}
        {% if answer.text != null %}
        <a onclick="_{{ question.number }}{{ answer.option }}()">Answer Explaination</a>

        {% endif %}
        {% endfor %}
      </div>
    </form>
  </div>

  {% endfor %}
</article>

{% for question in page.questions %}
<script>
  function submitAnswer_{{ question.number }}() {
    var radios = document.getElementsByName('_{{ question.number }}');
    var i = 0, len = radios.length;
    var checked = false;
    var userAnswer;

    for( ; i < len; i++ ) {
      if(radios[i].checked) {
        checked = true;
        userAnswer = radios[i].value;
      }
    } 
    // if user click submit button without selecting any option, alert box should be say "please select choice answer".
    if(!checked) {
      Materialize.toast('Please choose an answer...', 4000);
      return;
    }
    // Correct answer
    if(userAnswer === "correct") {      
      Materialize.toast('Correct!', 4000);
    }
    // incorrect answer
    else {
      Materialize.toast('Try Again...', 4000);
    }

  }
</script>

{% for answer in question.answer %}
{% if answer.text != null %}
<script>
  var _{{ question.number }}{{ answer.option }} = function () {
    var $toastContent = $('<p>{{ answer.text }}</p>');
    Materialize.toast($toastContent, 15000);
  }
</script>
{% endif %}
{% endfor %}
{% endfor %}


